<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxJppp.cloud.uc.biz.dao.MemLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxJppp.cloud.uc.api.entity.MemLogin">
        <id column="id" property="id" />
        <result column="accno" property="accno" />
        <result column="loginname" property="loginname" />
        <result column="password" property="password" />
        <result column="login_type" property="loginType" />
        <result column="dept_id" property="deptId" />
        <result column="pay_password" property="payPassword" />
        <result column="status" property="status" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="login_num" property="loginNum" />
        <result column="client_ip" property="clientIp" />
        <result column="google_secret_key" property="googleSecretKey" />
    </resultMap>
    <select id="getUserByUserName" resultType="com.xxxJppp.cloud.uc.api.domain.MemLoginDTO">
         select u.id,u.accno, u.loginname, u.password, u.login_type, u.dept_id, u.pay_password, u.status, u.last_login_time, u.login_num, u.client_ip, u.google_secret_key,
			d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,
        r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
        from mem_login u
		    left join sys_dept d on u.dept_id = d.dept_id
		    left join sys_user_role ur on u.id = ur.user_id
		    left join sys_role r on r.role_id = ur.role_id
        where u.id = #{id}
    </select>

</mapper>
