<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxJppp.cloud.uc.biz.dao.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxJppp.cloud.uc.api.entity.SysRole">
        <id     property="roleId"   column="role_id"    />
        <result property="roleName"   column="role_name"    />
        <result property="roleKey"   column="role_key"    />
        <result property="roleSort"   column="role_sort"    />
        <result property="dsType"   column="ds_type"    />
        <result property="dsScope"   column="ds_scope"    />
        <result property="status"   column="status"    />
        <result property="delFlag"   column="del_flag"    />
        <result property="createBy"   column="create_by"    />
        <result property="createTime"   column="create_time"    />
        <result property="updateBy"   column="update_by"    />
        <result property="updateTime"   column="update_time"    />
        <result property="remark"   column="remark"    />
    </resultMap>
    <select id="findRolesByUserId" resultType="java.lang.String">
        SELECT
            r.role_key
        FROM
            sys_user_role AS ur
        LEFT JOIN mem_login ml ON ml.id = ur.user_id
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
        WHERE
            ml.id = #{userId}
    </select>
    <select id="selectRolePermissionByUserId" parameterType="java.lang.Long" resultType="com.xxxJppp.cloud.uc.api.entity.SysRole">
      select distinct r.role_id, r.role_name, r.role_key, r.role_sort, r.ds_type, r.ds_scope
            r.status, r.del_flag, r.create_time, r.remark
        from sys_role r
	        left join sys_user_role ur on ur.role_id = r.role_id
	        left join mem_login u on u.id = ur.user_id
	        left join sys_dept d on u.dept_id = d.dept_id
        WHERE r.del_flag = '0' and ur.user_id = #{userId}
    </select>
    <select id="isAdminByUserId" resultType="com.xxxJppp.cloud.uc.api.entity.SysRole">
        select distinct r.role_id, r.role_name, r.role_key, r.role_sort, r.ds_type, r.ds_scope
            r.status, r.del_flag, r.create_time, r.remark
        from sys_role r
	        left join sys_user_role ur on ur.role_id = r.role_id
	        left join mem_login u on u.id = ur.user_id
        WHERE r.del_flag = '0' and ur.user_id = "1" AND lower(r.role_key) ="admin"
    </select>

</mapper>
